<h1>Editing Book</h1>
<%= form_with model:@book, url:book_path, method: :patch, local:true do |f|%>
 <p>Title</p>
 <%= f.text_field :title %>
 <p>Body</p>
 <%= f.text_area :body %>
 <h4><%= f.submit 'Update Book' %></h4>
<% end %>

<%= link_to 'Show', "/books/#{@book.id}" %> | <%= link_to 'Back', "/books" %>
